.footer-layout {
  width: 100%;
  height: 5rem;
}

.button-layout {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  height: 100%;
  align-items: center;
  margin-left: 2.5rem;
}

.delete-button {
  background-color: deeppink;
  color: white;
  font-weight: 700;
  width: fit-content;
  height: fit-content;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  cursor: pointer;
}
