.text-align {
  text-align: center;
}

.icons-spacing {
  display: flex;
  justify-content: space-evenly;
}

.delete-icon {
  color: red;
  cursor: pointer;
}

.edit-cursor {
  cursor: pointer;
}

.set-cursor {
  cursor: pointer;
}
