.text-align {
  text-align: center;
}

.icons-spacing {
  display: flex;
  justify-content: space-evenly;
}

.delete-icon {
  font-weight: 700;
  cursor: pointer;
  padding: 0.5rem;
}

.edit-icon {
  font-weight: 700;
  cursor: pointer;
  padding: 0.5rem;
}

.set-icon {
  font-weight: 700;
  cursor: pointer;
  padding: 0.5rem;
}
